.cart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    width: 80%;
}

.totals {
    display: flex;
    gap: 170px;
    justify-content: end;
    width: 1000px;
    box-sizing: border-box;
    padding: 10px 30px 10px 0px
}