.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 70px;
    height: fit-content;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.github {
    position: fixed;
    bottom: 4px;
}